body{
    margin:0;
    
}
.home-container{
    text-align: center;
}

.register-form-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 30%;
    margin: 10vh auto;
    height: 400px;
    background-color: rgb(55, 143, 143);
    border: 3px solid black;
    border-radius: 20px;

    h1{
        font-size: 3em;
        color: white;
    }

    .form-input{
        padding: 10px 0;
        margin-right: 6vw;
        text-align: end;
        input{
            font-size: 20px;
            
        }
        label{
            font-size: 22px;
            margin-right: 20px;
            font-weight: 600;
            color: white;
        }

        input:focus{
            outline: none;
        }
    }
}